scikit_image==0.14.0
numpy==1.14.6
lxml==4.6.2
cryptography==39.0.1
Cython==0.28.2
torch==0.4.1
matplotlib==2.2.2
pyOpenSSL==19.1.0
protobuf==3.11.1
ipaddr==2.2.0
ordereddict==1.1
skimage==0.0
torchvision==0.4.2
wincertstore==0.2
